*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.parent{
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
}
.container1{
    margin: 8% 10%;
}
h1{
    color: hsl(213, 10%, 22%);
    font-size: 40px;
}
p{
    font-size: 16px;
    color: hsl(210, 10%, 33%);
    margin: 5% 0;
}
button{
    padding: 3%;
    border-radius: 20px;
    width: 40%;
    margin: 0 3% 0 0;
}
.chrome{
    background-color:  hsl(233, 100%, 69%); 
    border: 1px solid  hsl(233, 100%, 69%);
    color: #fff;
}
.chrome:hover{
    background-color: hsl(233, 97%, 76%);
}
.firefox{
    background-color: hsl(202, 38%, 80%);
    border: 1px solid hsl(202, 38%, 80%);
    color: hsl(210, 10%, 33%);
}
.firefox:hover{
    background-color: hsl(200, 22%, 84%);
}
.container2 img{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media only screen and (max-width: 480px){
    .parent{
        display: block;
        padding: 5%;
    }
    .container1{
        margin: 8% 5%;
    }
    button{
        width: 45%;
    }
    .container2 img{
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}